body {
    background-color: #0e1b7b;
    font-family: 'Poppins';
}

.imagem {
    max-width: 150px;
    max-height: 180px;
}

.navbar{
    --bs-navbar-padding-y: none;
    font-family: 'Poppins';
}

.container-fluid {
    background-color: white;
    padding: 5px 10px 5px 10px;

}

#navbarSupportedContent {
    justify-content: space-between;
    font-size: 24px;
    margin-left: 3rem;
}

.nav-item {
    margin-left: 0.5rem;
}

.nav-link {
    color: #222231 !important;
    border: 2px solid white !important;
    border-radius: 2rem;
    font-size: 20px;
}

.nav-link:hover {
    color: #ffe01c !important;
    border-color: #ffe01c !important;
}

.cadastro {
    color: #202020;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 1rem;
    width: 10rem;
    text-align: center;
}

.cadastro:hover {
    background-color: #222231;
    color: white;
}

.btn {
    font-size: 16px;
    border: 1px solid black !important;
    border-radius: 2rem !important;
}

.btn:hover {
    border: 2px solid #ffe01c;
    border-radius: 2rem;
    background-color: #0e1b7b !important;
    color: white !important;
}

#form_pass {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#form_section{
    padding: 30px;
    border: solid 3px #ffe01c;
    border-radius: 10px;
}

form{
    background-color: white;
    padding: 30px;
    border: solid 3px;
    border-radius: 10px;
    gap: 50px;
}

.input_form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.input_form > input {
    height: 40px;
    border: solid gray 1px;
    border-radius: 10px;
    
}

#btn_submit{
    padding: 5px 20px;
    border: #0e1b7b 3px solid;
    border-radius: 100px;
    font-weight: 600;
    margin-top: 30px;
    background-color:  #0e1b7b ;
    color: white
}

/*@media screen and (min-width: 1200px) {
    .input_form input {
        position: absolute;
        left: 23%;
        
    }
}
@media screen and (max-width: 1200px) {
    .input_form input {
        position:relative;
        margin-left: 65px;
      
    }
}*/